<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Rifqi.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
        <div class="formBoxRifqi">
          <h1>Form Tambah Data</h1>
                <form action="/data" method="post">
                        <label>Nama Pasien:</label>
                            <select name="id_pasien" id="id_pasien">
                                <option selected disabled>--Pilih Pasien--</option>
                                {%for p in pasien_list %}
                                    <option value="{{p.id_pasien}}">
                                    {{ p.id_pasien}} - {{p.nama}}
                                    </option>
                                {%endfor%}
                            </select>
                       <label>Kamar:</label>
                            <select name="id_kamar" id="id_kamar">
                                <option selected disabled>--Pilih Kamar--</option>
                                {%for k in kamar_list %}
                                    <option value="{{k.id_kamar}}">
                                    {{ k.id_kamar}} - {{k.kelas}}
                                    </option>
                                {%endfor%}
                            </select>
                        <label>Tanggal Masuk:</label>
                        <input type="date" name="tgl_masuk" required>   
                        <label>Tanggal Keluar:</label>
                        <input type="date" name="tgl_keluar" required>   
                        <label>Status Biaya:</label>
                            <select name="status_pembayaran" id="status_pembayaran">
                                <option value="Terbayar">Terbayar</option>
                                <option value="Belum Terbayar">Belum Terbayar</option>
                            </select>
                    <button type="submit" class="btnRifqi"><i class="fa-solid fa-floppy-disk"></i> Simpan data</button>
                </form>
                    <table>
                        <div class="linkRifqi">
                            <a href="{{ url_for('datatransaksi') }}"><i class="fa-solid fa-left-long"></i> Kembali</a>
                        </div>
                    </table>
        </div>
</body>
</html>